@charset "UTF-8";
html {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen";
}


/* Cabeçalho aqui */

.top-header {
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}

.top-nav {
    background-color: #612674;
    text-align: center;
}

.top-nav ul {
    padding: 1em 0;
    margin: 0;
    list-style: none;
}

.top-nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover {
    transition: all .5s ease;
    background-color: #7c3792;
}

.icon-play{
    height: 5em;
    display: none;
}
.icon-play img{
    max-width: 100%;
    max-height: 100%;
}

/* fim do header */


/* começo do top-content */

.top-content {
    padding: 1em;
    text-align: center;
    background: #f6f6f6;
}

.top-content-title {
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;
}


/* fim do top-content */


/* inicio middle content */

.middle-content {
    padding: 2em;
    text-align: center;
    background: #f6f6f6;
}

.middle-content p {
    line-height: 1.5;
    color: #222;
}

.middle-content span[class^=icon] {
    font-size: 3.5em;
    color: #652e79;
    ;
}

.middle-content-title {
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
}


/* fim middle content */


/* main content */

.main-content {
    padding: 2em;
}

.main-content p {
    line-height: 1.2;
}

.main-content-article {
    padding: 3em;
}

.main-content-title {
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: normal;
}


/* fim main content */


/* inicio footer */




.footer {
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare {
    background-color: #303d4c;
    padding: .5em;
}

.footer-menushare li {
    margin: 0 1em;
    display: inline-block;
}

.footer-menushare a {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.footer-menushare a:hover {
    color: #6a7a8d;
}

/* fim footer */

/* elementos mais genericos */

.clearfix:after, .row:after{
    content:  ' ';
    display: block;
    clear: both;

}

.button {
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58C4C4;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #37a0a0;
}

.maxwidth{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

/* fim dos elementos genericos */

@media screen and (min-width: 48.75em) {
    /* cabeçalho media */
    .top-header-logo{
        float: left;
    }

    .top-nav{
        background: transparent;
        float: right;
        margin-top: 1.6em;
    }

    .top-nav ul {
        padding: 0;
        margin: 0;
    }

    .top-nav li {
        display: inline-block;
    }

    .top-nav a{
        color: #713184;
    }

    .top-nav a:hover{
        background: #e7d9fd;
    }

    .icon-play{
        display: block;
    }
    .top-content {
        background-color: #521a66;
        color: white;
    }
    .top-content-title, .top-content-subtitle{
        color: white;
    }

    /* fim cabeçalho */

    /* middle content */

    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .button{
        float: right;
    }

    /* fim middle content */
}


@media screen and (min-width: 62.5em) {
    /* cabeçalho media */
    .top-content{
        /* background-color:  #521a66;
        background-image: url('../images/bg_topo_1198x670.jpg'); */
        background:  #521a66 url('../images/bg_topo_1198x670.jpg');
        background-position: center top;
        height: 20em;
        padding-top: 17em;
    }

    /* fim cabeçalho */

    /* middle content */


    /* fim middle content */
}

@media screen and (min-width: 74em) {
    /* cabeçalho media */
    .top-content{
        background: url('../images/bg_topo_1600x1374.jpg');
        padding: 19em 20em 10em;
        background-position: center top;
    }

    .icon-play{
        height: 9em;
    }

    /* fim cabeçalho */

    /* main-content */

    .main-content-article .button{
        float: none;
    }
    .col-1-4{
        width: 23%;
        margin: 1%;
    }

    /* fim main contante */
    /* middle content */

    .col-1-2{
        float: left;
        width: 45%;
        margin: 1%;
        padding: 1em;
    }
    /* fim middle content */

    .footer{
        clear: both;
    }
}